.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.about-pic{ 
    display: flex;
    justify-content: center;
}

.about-pic img{
    width: 500px;
    border-radius: 50%;
}

.about-text p {
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
}