* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #48dbfb;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #353b48;
}
.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}