.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 20px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}
.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20px;
    height: 40px;
    background-image: url(../images/logo.png);
    background-size: contain;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

#check {
    display: none;
}

.navbar-menu a {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #48dbfb !important;
}

.sticky {
    background-color: #fff;
    padding: 18px 0;
}

.sticky .navbar-menu a {
    color: #111;
}

.sticky .menu-toggler span {
    background-color: #111;
}