* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

::selection {
    background-color: #48dbfb;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background-color: #353b48;
}

.navbar {
    position: fixed;
    background-color: transparent;
    width: 100%;
    padding: 20px 0;
    top: 0;
    z-index: 999;
    transition: .3s linear;
}
.inner-width {
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
}

.navbar .inner-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20px;
    height: 40px;
    background-image: url(../images/logo.png);
    background-size: contain;
}

.menu-toggler {
    background: none;
    width: 30px;
    border: none;
    cursor: pointer;
    position: relative;
    outline: none;
    z-index: 999;
    display: none;
}

.menu-toggler span {
    display: block;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    position: relative;
    transition: .3s linear;
}

#check {
    display: none;
}

.navbar-menu a {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
    transition: .2s linear;
}

.navbar-menu a:hover {
    color: #48dbfb !important;
}

.sticky {
    background-color: #fff;
    padding: 18px 0;
}

.sticky .navbar-menu a {
    color: #111;
}

.sticky .menu-toggler span {
    background-color: #111;
}

#home {
    height: 100vh;
    min-height: 500px;
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#home .inner-width {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}

#home .content {
    width: 100%;
    color: #fff;
}

#home .content h1 {
    font-size: 60px;
    margin-bottom: 50px;
}

#home .content h1::after {
    content: " męskie";
    animation: textanim 5s linear infinite;
}

@keyframes textanim {
    50% {
        content: " damskie";
    }
}

.sm a {
    font-size: 26px;
    color: #fff;
    margin: 0 12px;
    transition: .2s linear;
}

.sm a:hover {
    transform: scale(.9);
    color: #48dbfb;
}

#home .buttons {
    margin-top: 60px;
}

#home .buttons a {
    display: inline-block;
    margin: 15px 30px;
    color: #48dbfb;
    font-size: 15px;
    font-weight: 500;
    width: 180px;
    border: 1px solid #48dbfb;
    padding: 14px 0;
    border-radius: 6px;
    transition: .2s linear;
}

#home .buttons a:hover,
#home .buttons a:nth-child(2) {
    background-color: #48dbfb;
    color: #fff;
}

section {
    padding: 100px 0;
    background-color: #f1f1f1;
}

.section-title {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
    font-size: 30px;
    padding-bottom: 20px;
    color: #111;
}

.section-title::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 3px;
    background-color: #111;
    bottom: 0;
    left: calc(50% - 40px);
}

.section-title::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 10px;
    background-color: #48dbfb;
    border: 4px solid #f1f1f1;
    left: calc(50% - 12px);
    bottom: -7px;
}

.about-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.about-pic{ 
    display: flex;
    justify-content: center;
}

.about-pic img{
    width: 500px;
    border-radius: 50%;
}

.about-text p {
    font-size: 17px;
    text-align: justify;
    line-height: 26px;
    margin-top: 20px;
}

section.dark {
    background-color: #353b48;
}

section.dark .section-title {
    color: #f1f1f1;
}

section.dark .section-title::before {
    background-color: #f1f1f1;
}

section.dark .section-title::after {
    border: 4px solid #353b48;
}

.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service {
    width: calc(33% - 10px);
    height: 300px;
    overflow: hidden;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}

.service img{
    width: 100%;
    height: 100%;
    transition: .4s linear;
}

.service::before {
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #48dbfb;
    transition: .2s linear;
    opacity: 0;
    transform: scale(0);
}

.service .info {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    left: 40px;
    color: #fff;
    transition: .4s linear;
    opacity: 0;
}

.service:hover img {
    transform: scale(1.3) rotate(20deg);
}

.service:hover::before,
.service:hover .info {
    opacity: 1;
    transform: scale(1);
}

.prices-content{
    padding: 10px;
}

.prices-content h3{
    font-size: 24px;
    text-align: left;
}

.prices-content table{
    width: 100%;
    text-align: left;
    padding: 10px;
    table-layout: fixed;
}

.prices-content table tr td{
    border-top: solid 2px #353b48;
    padding: 10px;
}

.schedule-form {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    align-items: center;
}

.formControl input, select{
    width: 100%;
    height: 60px;
    margin: 10px 0;
    background-color: #fff;
    border: none;
    outline: none;
    padding: 20px;
    border-radius: 4px;
    color: #353b48;
}

.formControl {
    width: 50%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.formControl.succes input {
    border-color: #2ecc71;
}

.formControl.error input {
    border-color: #e74c3c;
}

.formControl i {
    position: absolute;
    top: 35px;
    right: 5px;
    visibility: hidden;
}

.formControl.succes i.fa-check-circle {
    visibility: visible;
    color: #2ecc71;
}

.formControl.error i.fa-exclamation-circle {
    visibility: visible;
    color: #e74c3c;
}

.formControl small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.formControl.error small {
    visibility: visible;
    color: #e74c3c;
}


.schedule-form label{
    color: #48dbfb;
    font-size: 20px;
    padding: 10px;
}

.schedule-form .btn {
    float: right;
    width: 180px;
    height: 60px;
    margin: 10px 0;
    background-color: transparent;
    color: #48dbfb;
    padding: 0;
    border: 2px solid #48dbfb;
    font-size: 16px;
    margin-left: auto;
    cursor: pointer;
    transition: .3s linear;
}

.schedule-form .btn:hover {
    background-color: #48dbfb;
    color: #fff;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info .item {
    width: calc(33% - 20px);
    height: 160px;
    background-color: #353b48;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s linear;
}

.contact-info i {
    display: block;
    font-size: 40px;
    line-height: 120px;
    height: 100px;
}

.contact-info .item:hover {
    background-color: #48dbfb;
}

.salon-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    color: #353b48;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.hours-info {
    width: 50%;
}

.reception{
    width: 50%;
}

.reception a{
    color: #48dbfb;
}

footer {
    background: url(../images/bg.jpg) no-repeat center;
    color: #fff;
    padding: 80px 0;
    text-align: center;
}

.copyright {
    margin-bottom: 20px;
    font-size: 15px;
}

.copyright a {
    font-size: 16px;
    color: #48dbfb;
    font-weight: 500;
}

@media screen and (max-width: 980px) {
    .menu-toggler {
        display: block;
    }

    .navbar-menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #353b48;
        top: 0;
        right: -100%;
        max-width: 400px;
        padding: 80px 50px;
        transition: .3s linear;
    }

    .navbar-menu a {
        display: block;
        font-size: 30px;
        margin: 30px 0;
    }

    .sticky .navbar-menu {
        background-color: #f1f1f1;
    }

    .navbar-menu.active {
        right: 0;
    }

    .menu-toggler.active span:nth-child(1) {
        transform: rotate(-45deg);
        top: 4px;
    }

    .menu-toggler.active span:nth-child(2) {
        opacity: 0;
    }

    .menu-toggler.active span:nth-child(3) {
        transform: rotate(45deg);
        bottom: 14px;
    }

    .inner-width {
        max-width: 800px;
    }

    .service {
        width: calc(50% - 10px);
    }

    .schedule {
        width: calc(50% - 10px);
    }

    .contact-info .item {
        width: 100%;
        margin: 10px 0;
    }

    .salon-info .salon{
        width: 100%;
        margin: 10px 0;
    }

    .formControl {
        width: calc(80% - 10px);
    }
}

@media screen and (max-width: 600px) {
    .inner-width {
        padding: 0 20px;
    }

    .service {
        width: 100%;
    }

    .schedule {
        width: 100%;
    }

    .formControl {
        width: 80%;
    }
}
